#education {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0 10rem;
}

.education-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.education-img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
    object-position: bottom;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}

/* [data-aos="eduction-img-animation"] {
    opacity: 0;
    transform: scale(1.2);
    transition: opacity 0.75s ease, transform 0.75s ease;

    &.aos-animate {
        opacity: 1;
        transform: scale(1);
    }

    @keyframes zoom-fade {
        0% {
            opacity: 0;
            transform: scale(1.2);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
} */

.education-title h1 {
    color: #fff;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 0.275rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}

.education-career-container {
    margin-top: 0.75rem;
    width: 100%;
    height: 47.5vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}

.education-description {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.education-description h3 {
    font-size: 1.915rem;
}

.education-description span {
    font-size: 1.075rem;
}

.education-link-container a {
    margin-top: 0.5rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-position: under;
    font-size: 0.875rem;
    font-weight: 700;
}

.education-link-container svg {
    color: #ffffff;
    font-size: 2rem;
}



@media screen and (max-width: 768px) {



    

}


@media screen and (max-width: 576px) {
    
    #education {
        padding: 0.50rem 0 7rem;
    }

    .education-img {
        width: 100%;
    }

    .education-title h1 {
        margin-top: 1.5rem;
        font-size: 2.175rem;
    }

    .education-description h3 {
        font-size: 1.425rem;
    }
    
    .education-description span {
        font-size: 0.95rem;
    }

    .education-link-container a {
        font-size: 0.825rem;
    }

    .education-link-container svg {
        font-size: 1.75rem;
    }
    
    

   
  

}