@import url(EduImgAnimation.css);


#education {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0 10rem;
}

.education-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.education-img-container {
    position: relative;
    overflow: hidden;
}


.education-img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
    object-position: bottom;
    /* box-shadow: 0 -8px 12px rgba(255, 255, 255, 0.115); */
}


.education-title h1 {
    margin-bottom: 0.875rem;
    color: #fff;
    font-size: 3.25rem;
    font-weight: bold;
    letter-spacing: 0.275rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}

.education-career-container {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 1.075rem;
}

.education-description {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.education-description h3 {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.education-description span {
    font-size: 1rem;
}

.education-link-container a {
    margin-top: 0.5rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-position: under;
    font-size: 0.75rem;
    font-weight: 700;
}

.education-link-container svg {
    color: #ffffff;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {

    #education {
        padding: 1.5rem 0 0.25rem;
    }
    

    .education-title h1 {
        margin-top: 5rem;
        text-align: center;
    }

    .education-description {
        margin-top: 1rem;
        text-align: center;
        align-items: center;
    }
}


@media screen and (max-width: 576px) {

    #education {
        padding: 0 0 9.5rem;
    }

    .education-img {
        width: 100%;
    }

    .education-title h1 {
        margin-top: 2.5rem;
        font-size: 2.175rem;
        text-align: center;
    }

    .education-career-container {
        gap: 2rem;
    }

    .education-career-container {
        height: 40vh;
        margin-top: 1rem;
    }

    .education-description {
        text-align: center;
        align-items: center;
    }

    .education-description h3 {
        font-size: 1.215rem;
        text-transform: uppercase;
    }

    .education-description span {
        font-size: 0.95rem;
    }

    .education-link-container a {
        font-size: 0.75rem;
    }

    .education-link-container svg {
        font-size: 2.175rem;
    }

}