/* Estilo predeterminado para la imagen antes de la animación */
[data-aos="education-img-animation"] .education-img {
    opacity: 0.75;
    transform: scale(1.35);
    transition: opacity 1s ease-in, transform 7.5s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Clase que aplica la animación cuando se activa por AOS */
[data-aos="education-img-animation"].aos-animate .education-img {
    opacity: 1;
    transform: scale(1);
}