form {
    width: auto;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form textarea {
    height: 7.5rem;
}

.form-control {
    border-radius: 0;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
}

.form-control:focus {
    box-shadow: none;
}

.send-btn {
    background-color: transparent;
    border: none;
}

.send svg,
.social svg {
    font-size: 3rem;
    color: #4f4f52dc;
    transition: color 0.35s ease;
    /* filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5)); */
}

.send svg:hover,
.social svg:hover {
    color: #fff;
    transition: filter 1s ease;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.social svg:hover {
    cursor: pointer;
}

.contact-btn-disabled {
    cursor: not-allowed;
}

.contactus-modal-btn {
    position: relative;
    width: 4.5rem;
    border: none;
    padding: 0.35rem;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    background-color: #131313;
}


@media screen and (max-width: 768px) {

    .media-icons {
        margin-top: 0.75rem;
    }

    .send svg,
    .social svg {
        color: #ffffffdc;
        /* transition: color 0.35s ease; */
        /* filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5)); */
    }

    .send svg:hover,
    .social svg:hover {
        color: #ffffffdc;
        transition: none;
        filter: none;
    }


}



@media screen and (max-width: 576px) {

    form {
        width: 80%;
    }

    .form-control {
        border-radius: 0.185rem;
    }

    .media-icons {
        margin-top: 0.75rem;
    }

    .send svg,
    .social svg {
        font-size: 2.175rem;
        color: #ffffffdc;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.35));
    }

    .send svg:hover,
    .social svg:hover {
        color: #ffffffdc;
        transition: none;
        filter: none;
    }


}