form {
    width: 45%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form textarea {
    height: 7.5rem;
}

.form-control {
    border-radius: 0.15rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}

.form-control:focus {
    box-shadow: none;
}

.send-btn {
    background-color: transparent;
    border: none;
}

.send svg,
.social svg {
    font-size: 2.5rem;
    color: #fff;
    transition: color 0.25s ease-in-out;
}

.send svg:hover,
.social svg:hover {
    color: #fff;
    opacity: 0.75;
    transition: filter 3s ease-in-out;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.25));
}

.social svg:hover {
    cursor: pointer;
}

.contact-btn-disabled {
    cursor: not-allowed;
}

.contactus-modal-btn {
    position: relative;
    width: 4.5rem;
    border: none;
    padding: 0.35rem;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    background-color: #131313;
}


@media screen and (max-width: 885px) {

    form {
        width: 75%;
    }

    .send svg,
    .social svg {
        color: #ffffffdc;
    }

}

@media screen and (max-width: 576px) {

    form {
        width: 80%;
    }

    .send svg,
    .social svg {
        font-size: 2.25rem;
    }

}