.form-control {
    margin: 2rem 0;
    border-radius: 0;
    border-color: transparent;
    background-color: white;
}

.form-control::placeholder {
    color: black;
    font-size: 1.125rem;
    font-family: 'VIC', sans-serif;
}

.form-control:focus {
    box-shadow: none;
    border-color: transparent;
    background-color: white;
}

.form-control.is-invalid {
    border-color: transparent;
    background-color: white;
}

.form-control.is-invalid:focus {
    box-shadow: none;
    border-color: transparent;
}

.text-area {
    resize: none;
}

.contact-btn {
    margin: 0.5rem 0;
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 0.175rem;
    color: black;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    background-color: white;
    transition: all 0.3s ease-in; /* Transición suave */
}

.contact-btn:hover {
    color: white;
    background-color: black;
    transition: all 0.3s ease-out; /* Transición suave */
}

.contact-btn-disabled {
    cursor: not-allowed;
}

.modal-content {
    background-color: white;
}

.modal-btn {
    margin: 1rem 0 0 3rem;
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 0.175rem;
    color: white;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    background-color: black;
    transition: all 0.3s ease-in; /* Transición suave */
}




