/* Definir una animación de apertura suave con easing */
@keyframes openOffcanvas {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Definir una animación de cierre suave con easing */
@keyframes closeOffcanvas {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.offcanvas-anim {
  animation-duration: 0.5s; /* Duración de la animación */
  animation-timing-function: ease-in-out; /* Función de temporización */
}

.offcanvas.show {
  animation-name: openOffcanvas; /* Aplicar animación de apertura al mostrar el offcanvas */
}

.offcanvas.hide {
  animation-name: closeOffcanvas; /* Aplicar animación de cierre al ocultar el offcanvas */
}