.offcanvas {
  transition: none; // Sobrescribe la transformación
  background-color: var(--second-color);
}

.offcanvas.offcanvas-end {
  transform: none; // Sobrescribe la transformación
}

.offcanvas {
  &-end {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    &.show {
      transform: translateX(0);
    }
  }
}