#backtotopbtn {
    position: fixed;
    left: 96%;
    bottom: 1.5%;
    width: 2.35rem;
    height: 2.35rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    background-color:  #C2C2C2;
    box-shadow: 0 2px 6px rgba(5, 5, 5, 0.5), 0 2px 10px rgba(217, 219, 222, 0.6);
}

#backtotopbtn.show {
    animation: slide-and-fade 1.25s forwards;
}

#backtotopbtn svg {
    color: #ffffff;
    font-size: 1.5rem;
}

@keyframes slide-and-fade {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }

    100% {
        transform: translateY(-15px);
        opacity: 1;
    }
}


@media screen and (max-width: 885px) {

    #backtotopbtn {
        left: 70%;
        bottom: 25%;
    }
}

@media screen and (max-width: 576px) {

    #backtotopbtn {
        left: 85%;
        bottom: 0.5%;
        box-shadow: 0 2px 6px rgba(5, 5, 5, 0.5), 0 2px 10px rgba(217, 219, 222, 0.25);
    }

    



}