@import url('https://fonts.cdnfonts.com/css/zt-gatha-95306');
@import url('https://fonts.cdnfonts.com/css/avantgarde');
@import url('https://fonts.cdnfonts.com/css/manjari-2');
@import url('https://fonts.cdnfonts.com/css/present-anthem');


:root {
  --main-color: #3F01A8;
  --second-color: #101011;
  --third-color: #E8E8E8;
  --alternative-color: #171719;
}

h1 {
  font-family: 'ZT Gatha', sans-serif;
}

h2 {
  font-family: 'AvantGarde Tx', sans-serif;
}

h3,
span {
  font-family: 'Manjari', sans-serif;
}