#aboutme {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #D9DBDE;
    padding: 6.15rem 0;
}

.aboutme-content {
    width: 50%;
    line-height: 1.125;
}

.aboutme-content .name {
    font-size: 4rem;
    word-spacing: -0.25rem;
}

.aboutme-content .career {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.aboutme-icons svg {
    margin-top: 0.825rem;
    color: #050505;
    font-size: 2rem;
}








@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {

    .aboutme-content {
        width: 100%;
    }

    .aboutme-content .career {
        font-size: 2rem;
    }

}